<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <!--script src="{{ url_for('static', filename='js/main.js') }}"></script-->
    <title>Models Testing</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        #chatbox { width: 100%; height: 70vh; border: 1px solid #ccc; padding: 10px; overflow-y: scroll; margin-bottom: 20px; }
        #userInput { width: 65%; }
        #sendBtn { width: 12%; }
        #deleteBtn { width: 10%;}
        #OpenImgupload { width: 3%; }
        .user-message { font-weight: bold; color: blue; }
        .bot-message { font-style: italic; color: green; }
        #dropdownMenu { position: absolute; top: 20px; right: 20px; }
    </style>
</head>
<body>
    <h1>Models Testing</h1>
    <div id="interface">
        <div id="chatbox"></div>

        <div id="previewImage"></div>
        
        <div class="input-group mb-3">
            <input type="file" id="imgupload" accept="image/*" style="display:none"/>
            <button class="btn btn-secondary" type="button" id="OpenImgupload">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                    <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                </svg>
            </button>
            <input type="text" class="form-control" id="userInput" placeholder="Enter your questions..." aria-label="Enter your questions..." aria-describedby="button-addon2">
            <button class="btn btn-danger" type="button" id="imageDelBtn" hidden>Delete Image
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
            </button>
            <button class="btn btn-outline-secondary" type="button" id="sendBtn">Send Message
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                </svg>
            </button>
        </div>

        <div id="dropdownMenu" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Choose the model to use
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#" onclick="setDropdownName('llama3.2')">llama3.2</a></li>
                <li><a class="dropdown-item" href="#" onclick="setDropdownName('llama3.2-vision')">llama3.2-vision</a></li>
            </ul>
        </div>
    </div>
    <script>
        let conversationHistory = [
        {
            role: "system",
            content: "You are an investment advisor. Your task is to create the user investor profile and then provide investment advice based on the user's profile. In this task, you will be interacting with the user to gather information about their financial situation, investment goals, and risk tolerance. You will then use this information to recommend an investment strategy that aligns with the user's goals and risk tolerance."
        },
        {
            role: "system",
            content: "You must ask this questions to the user and only continue to the next when the user has answered the question. If the user asks to skip or that he doesn't know how to answer, you should explain him better the question. You are not allowed under any circustances to move to a new question until you have gathered the answer the the question. Q1. What is your current age? Q2. What is your annual income (after taxes)? Q3. Do you have any existing savings or investments?"
        },
        {
            role: "assistant",
            content: "Hello, I will be your investment advisor. I will ask you a series of questions to gather information about your financial situation, investment goals, and risk tolerance. Based on this information, I will provide you with investment advice. Let's get started!"
        }
        ];

        async function handle_user_input() {
        const userInput = document.getElementById('userInput').value;
        const chatbox = document.getElementById('chatbox');
        const image = document.getElementById('imgupload').files[0];

        if (!userInput && !image) {
            return; // Do nothing if no input or image
        }

        let payload = {
            model: document.getElementById('dropdownMenuButton').textContent.split(': ')[1] || 'llama3.2-vision',
            messages: conversationHistory,
            stream: true, // Enable streaming
        };

        // Display user's message in chatbox
        if (userInput != '') {
            const userMessage = document.createElement('div');
            userMessage.textContent = `You: ${userInput}`;
            userMessage.className = 'user-message';
            chatbox.appendChild(userMessage);

            if(!image) conversationHistory.push({ role: 'user', content: userInput });

            if (image) {
                displayImage(image);

                const base64Image = await convertImageToBase64(image);
                payload.messages.push({ role: 'user', content: userInput, images: [base64Image] });
                const previewImage = document.getElementById('previewImage');
                prevImage.remove();
                image_remove();
            }
        }

        if (image && userInput=='') {
            displayImage(image);

            const previewImage = document.getElementById('previewImage');
            prevImage.remove();

            const base64Image = await convertImageToBase64(image);
            payload.messages.push({ role: 'user', content: "Explain this image", images: [base64Image] });
            image_remove(); // Clear the image input
        }

        // Create a placeholder for the bot response with fading dots
        const botMessage = document.createElement('div');
        botMessage.className = 'bot-message';
        botMessage.textContent = 'Assistant: Thinking';
        chatbox.appendChild(botMessage);
        chatbox.scrollTop = chatbox.scrollHeight; // Scroll to bottom

        // Start the fading dots animation
        let dots = '';
        const dotsInterval = setInterval(() => {
            dots = dots.length < 3 ? dots + '.' : ''; // Cycle through '.', '..', '...'
            botMessage.textContent = `System: Thinking${dots}`;
        }, 500);


        // Clear user input
        document.getElementById('userInput').value = '';

        var sendButton = document.getElementById('sendBtn');
        sendButton.disabled = true;

        let response;
        try{
            // Call the Ollama API with streaming enabled
            response = await fetch('http://localhost:11434/api/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload),
            });

        } catch(error){
            clearInterval(dotsInterval);
            sendButton.disabled = false;
            //console.log(response)
                // Construct a more descriptive error message for network errors
            let errorMessage = error.message;
            if (error instanceof TypeError && error.message === 'Failed to fetch') {
                errorMessage = 'POST http://localhost:11434/api/chat net::ERR_CONNECTION_REFUSED';
            }
            console.error('Error with the Ollama API:', errorMessage);
            botMessage.textContent = 'System: An error occurred. Please try again. Error: ' + errorMessage;
            return;
        }

        clearInterval(dotsInterval);

        const reader = response.body.getReader();
        const decoder = new TextDecoder('utf-8');

        //let botMessage = document.createElement('div');
        //botMessage.className = 'bot-message';
        //chatbox.appendChild(botMessage);
        botMessage.innerHTML = 'Assistant: ';

        let isDone = false;

        let assistantMessage = '';

        while (!isDone) {
            const { done, value } = await reader.read();
            if (done) break;

            const chunk = decoder.decode(value, { stream: true }).trim();

            //console.log(chunk);

            // Split the chunk in case it contains multiple JSON objects
            const messages = chunk.split(/\r?\n/); // Split by newline for streaming

            for (const message of messages) {
                if (message) {
                    try {
                        const json = JSON.parse(message);
                        if (json.message && json.message.content) {
                            botMessage.innerHTML = renderContentWithFormatting(botMessage.innerHTML+json.message.content);
                            assistantMessage += json.message.content;
                            //botMessage.textContent += json.message.content; // Append content to the bot message
                            chatbox.scrollTop = chatbox.scrollHeight; // Scroll to bottom
                        }
                        isDone = json.done || false; // Update isDone based on the "done" field
                    } catch (error) {
                        console.error("Error parsing JSON chunk:", message, error);
                    }
                }
            }
        }

        // Save the bot's final response in the conversation history
        conversationHistory.push({ role: 'assistant', content: assistantMessage });
        //console.log(conversationHistory);
        sendButton.disabled = false;
        }

        function image_remove() {
        var input = document.getElementById('userInput');
        input.value = '';
        input.disabled = false;
        var button_delete = document.getElementById('imageDelBtn');
        button_delete.hidden = true;
        var image = document.getElementById('imgupload').files[0];
        if (image) {
            document.getElementById('imgupload').value = '';
        }
        }

        var socket = io();

        socket.on('response', function(data) {
        var chatbox = document.getElementById('chatbox');
        var botMessage = document.createElement('div');
        botMessage.innerHTML = 'Assistant: ' + data.response;
        botMessage.className = 'bot-message';
        chatbox.appendChild(botMessage);
        chatbox.scrollTop = chatbox.scrollHeight;
        });

        document.getElementById('OpenImgupload').onclick = function() {
        document.getElementById('imgupload').click();
        };

        document.getElementById('imgupload').onchange = function() {
        /*var image = document.getElementById('imgupload').files[0];
        if (image) {
            var button_delete = document.getElementById('imageDelBtn');
            button_delete.hidden = false;
            var input = document.getElementById('userInput');
            //input.value = image.name;
            input.disabled = false;
        }*/

        const image = document.getElementById('imgupload').files[0];
        const previewImage = document.getElementById('previewImage');

        if (image) {
            // Create and display the image preview
            const imagePreview = document.createElement('img');
            imagePreview.src = URL.createObjectURL(image);
            imagePreview.style.maxWidth = '300px';
            imagePreview.style.maxHeight = '300px';
            //imagePreview.style.display = 'block';
            imagePreview.style.marginTop = '10px';
            imagePreview.id = 'prevImage';

            // Remove existing preview if any
            const existingPreview = document.getElementById('prevImage');
            if (existingPreview) {
                existingPreview.remove();
            }

            previewImage.appendChild(imagePreview);

            // Show the delete button and enable text input
            const buttonDelete = document.getElementById('imageDelBtn');
            buttonDelete.hidden = false;

            const input = document.getElementById('userInput');
            input.disabled = false;
        }
        };

        function renderContentWithFormatting(content) {
        // Replace `\n` with HTML line breaks
        let formattedContent = content.replace(/\n/g, '<br>');

        // Replace `**`-wrapped text with bold formatting
        formattedContent = formattedContent.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>');

        return formattedContent;
        }

        document.getElementById('imageDelBtn').onclick = function() {
        image_remove();
        };

        document.getElementById('sendBtn').onclick = function() {
        handle_user_input();
        };

        document.getElementById('userInput').addEventListener('keyup', function(event) {
        if (event.key === 'Enter' && !document.getElementById('sendBtn').disabled) {
            handle_user_input();
        }
        });

        document.addEventListener('DOMContentLoaded', function () {
        setDropdownName('llama3.2-vision');
        });

        // Function to convert an image to Base64
        async function convertImageToBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = () => resolve(reader.result.split(',')[1]); // Remove the data URL prefix
            reader.onerror = (error) => reject(error);
            reader.readAsDataURL(file);
        });
        }

        function setDropdownName(optionName) {
        document.getElementById('dropdownMenuButton').textContent = "Model: " + optionName;
        }

        function displayImage(image){
        const imagePreview = document.createElement('img');
        imagePreview.src = URL.createObjectURL(image);
        imagePreview.style.maxWidth = '500px';
        imagePreview.style.maxHeight = '500px';
        imagePreview.style.display = 'block';
        imagePreview.style.marginTop = '10px';
        chatbox.appendChild(imagePreview);
        }
    </script>
</body>
</html>
